.quiz-question {
  display: flex;
}
.quiz-numero {
  display: flex;
  width: 15%;
}
.quiz-txt {
  display: flex;
}
ol {
  list-style-type: upper-alpha;
}

/* .sentenceInBlue {
  color: blue;
} */
/* input[type="radio"] {
  display: none;
} cette formule sert à enlever les boutons*/
input[type="radio"]:checked + label {
  font-weight: bold;
  color: blue;
}

.juste {
  color: green;
}

.faux {
  color: red;
}
